.sectionWithGeneralManager_Profit{
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
}
.sectionWithGeneralManager_Profit h1{
    font-family: 'Roboto';
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);

}
.sectionWithGeneralManager_Profit .profit_content{
    display: flex;
    justify-content: center;
    padding: 40px 25px 40px;
}

.profit_content button h3{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);

}

.profit_content button h1{
    font-family: 'Montserrat';
    font-size: 44px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);

}
.sectionWithGeneralManager_Profit .profit_calculate {
    width: 690px;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 40px 127px 0px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    display: flex
;
    flex-direction: column;
    justify-content: center;
    padding: 40px 40px 40px;
}
.sectionWithGeneralManager_Profit .profit_calculate input{
    background-color: red;
}
.sectionWithGeneralManager_Profit .profit_calculate button{
    width: 496px;
    height: 72px;
    background: linear-gradient(90deg, #C91C04 0%, #D81E05 33.33%, #4B0900 66.67%, #4B0900 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px ;
    border: none;
    flex-direction: row;
    gap: 15px;
    margin-top: 50px;
    cursor: pointer;
}
.profit_calculate_btn{
    width: 100%;
    display: flex;
    justify-content: center;

}
.sectionWithGeneralManager_Profit .profit_stats{
    padding: 88px 0 88px 167px;
}
.sectionWithGeneralManager_Profit .profit_stats h3{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: #fff;
    margin-bottom: 16px;
}
.profit_stats h1{
    margin-bottom: 40px;
}
.sectionWithGeneralManager_Profit .profit_stats h1{
    font-family: 'Montserrat';
    font-size: 42px;
    font-weight: 500;
    line-height: 56px;
    text-align: left;
    text-decoration-skip-ink: none;

}
.irs--round .irs-bar {
    background: #D81E05 !important; 
}

.irs--round .irs-handle {

    border:4px solid  #D81E05 !important;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 255, 0.3);

}

.irs--round .irs-single {
    background: #D81E05 !important;
}
.irs--round .irs-single:before{
    content: "";
    border-top-color:#D81E05 !important;
}

@media (max-width: 430px) {

    .sectionWithGeneralManager_Profit{
        width: 100%;
        position: relative;
        z-index: 1;
        text-align: center;
    }
    .profit_content{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .sectionWithGeneralManager_Profit .profit_content {
      
        display: flex;
        justify-content: center;
        align-items: center;
        padding:0;
    }
    .sectionWithGeneralManager_Profit .profit_calculate{
        width: 400px;

        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 40px 127px 0px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px ;
    
    }
    .sectionWithGeneralManager_Profit .profit_stats{
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .profit_stats h3{
        margin-bottom: 16px;
    }
    .profit_stats{
        margin-top: 42px;
    }
    .sectionWithGeneralManager_Profit .profit_calculate button{
        width: 496px;
        height: 72px;
        background: linear-gradient(90deg, #C91C04 0%, #D81E05 33.33%, #4B0900 66.67%, #4B0900 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px ;
        border: none;
        flex-direction: row;
        gap: 15px;
        margin-top: 50px;
        cursor: pointer;
    }
    .profit_content button h1{
        font-family: 'Montserrat';
        font-size: 30px;
        font-weight: 500;
        line-height: 32px;
        text-align: left;
        text-decoration-skip-ink: none;
        color: rgba(255, 255, 255, 1);
    
    }
    .profit_content button h3{
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
    
 
        color: rgba(255, 255, 255, 1);
    
    }
}
@media (max-width: 768px) {

    .sectionWithGeneralManager_Profit{
        width: 100%;
        position: relative;
        z-index: 1;
        text-align: center;
    }
    .profit_content{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .sectionWithGeneralManager_Profit .profit_content {
      
        display: flex;
        justify-content: center;
        align-items: center;
        padding:0;
    }
    .sectionWithGeneralManager_Profit .profit_calculate{
        width: 400px;

        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 40px 127px 0px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px ;
    
    }
    .sectionWithGeneralManager_Profit .profit_stats{
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .profit_stats h3{
        margin-bottom: 16px;
    }
    .profit_stats{
        margin-top: 42px;
    }
    .sectionWithGeneralManager_Profit .profit_calculate button{
        width: 496px;
        height: 72px;
        background: linear-gradient(90deg, #C91C04 0%, #D81E05 33.33%, #4B0900 66.67%, #4B0900 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px ;
        border: none;
        flex-direction: row;
        gap: 15px;
        margin-top: 50px;
        cursor: pointer;
    }
    .profit_content button h1{
        font-family: 'Montserrat';
        font-size: 30px;
        font-weight: 500;
        line-height: 32px;
        text-align: left;
        text-decoration-skip-ink: none;
        color: rgba(255, 255, 255, 1);
    
    }
    .profit_content button h3{
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
    
 
        color: rgba(255, 255, 255, 1);
    
    }
}

@media (max-width: 1100px) {

    .sectionWithGeneralManager_Profit{
        width: 100%;
        position: relative;
        z-index: 1;
        text-align: center;
    }
    .profit_content{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .sectionWithGeneralManager_Profit .profit_content {
      
        display: flex;
        justify-content: center;
        align-items: center;
        padding:25px 0px 0px 0px;
    }
    .sectionWithGeneralManager_Profit .profit_calculate{
        width: 400px;

        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 40px 127px 0px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px ;
    
    }
    .sectionWithGeneralManager_Profit .profit_stats{
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .profit_stats h3{
        margin-bottom: 16px;
    }
    .profit_stats{
        margin-top: 42px;
    }
    .sectionWithGeneralManager_Profit .profit_calculate button{
        width: 496px;
        height: 72px;
        background: linear-gradient(90deg, #C91C04 0%, #D81E05 33.33%, #4B0900 66.67%, #4B0900 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px ;
        border: none;
        flex-direction: row;
        gap: 15px;
        margin-top: 50px;
        cursor: pointer;
    }
    .profit_content button h1{
        font-family: 'Montserrat';
        font-size: 30px;
        font-weight: 500;
        line-height: 32px;
        text-align: left;
        text-decoration-skip-ink: none;
        color: rgba(255, 255, 255, 1);
    
    }
    .profit_content button h3{
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
    
 
        color: rgba(255, 255, 255, 1);
    
    }
} 