
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
 /* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

/* Header */

header{
    width: 100vw;
    height: 126px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 27px 76px ;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 28px;
}
nav ul li{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    list-style: none;
    text-decoration: none;
}

/* Main */
main{
    width: 100vw;
    height: 100%;
}

/* Section with Form */

.sectionWithForm{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.sectionWithForm .leftSideSection{
    width: 90%;
    height: 100%;
}
.leftSideSection .title{
    padding-left: 159px;
    display: flex;
    justify-content: space-between;
}

.leftSideSection .title h1{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    color:#D81E05 ;
    width: 467px;
}


.sectionWithForm .rightSideSection{
    width: 110%;
    height: 536px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../assets/backgroundForSection.svg");
    padding: 79px 88px 70px 157px;

}

/* Register Form */

form {
    width: 354px;
    height: 387px;
    background-color:rgba(74, 74, 74, 0.82) ;
    border-radius: 15px;
    padding: 52px 27px 45px ;
    box-shadow: 0px 0px 12px 12px rgba(216, 30, 5, 0.29);


    
}
form .formDataInputs{
    display: flex;
    flex-direction: column;
    gap: 11px ;
}

form .formDataInputs input{
    width: 100%;
    height: 40px;
    background-color: #F7F7F7;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 11px 12px ;
}

form .formDataInputs input::placeholder{
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 400px;
    font-size: 16px;
    line-height: 17.5px;
    letter-spacing: 1px;
    color: #818181;
}

form button{
    width: 100%;
    height: 45px;
    background-color: #D81E05;
    border: none;
    border-radius: 4px;
    margin-top: 52px;

    text-transform: uppercase;
    color:#FFFFFF ;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    align-items: center;
    
}

/* Section with Goal */

.sectionWithGoal{
    width: 100vw;
    height: 390px;
    background-color:#FFFFFF;
    padding: 75px 88px 92px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 42px;

}

.sectionWithGoal_block{
    width: 485px;
    height: 223px;
    border-radius: 25px 25px 25px 25px;
    transform: skewX(-10deg);
    background-color:  rgba(217, 217, 217, 1);
}

.sectionWithGoal_content{
  width: 497px;

}
.sectionWithGoal_content_title{
    margin-top: 63px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: rgba(194, 40, 33, 1);
    
}
.sectionWithGoal_content_subtitle{
    font-family:'Roboto';
    font-size: 25px;
    font-weight: 400;
    line-height: 31.01px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: rgba(14, 105, 175, 1);
 
}

/* Section with Cards */

.sectionWithCards{
    width: 100vw;
    height: 100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 67px ;

}
.sectionWithCards_title{
    font-family: 'Roboto';
    font-size: 37px;
    font-weight: 400;
    line-height: 53.2px;
    text-align: center;
    text-decoration-skip-ink: none;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 48px ;
}

.sectionWithCards_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 18px;


}

.sectionWithCards_content .line{
    height: 370px;
    width: 1px;
    background:rgba(238, 27, 37, 1) ;
  
}

.sectionWithCards_card{
    width: 360px;
    

}

.sectionWithCards_content>div:first-child h3{
   margin-top: 52px;
}
.sectionWithCards_content>div:nth-child(3) h3{
    margin-top: 30px;
 }
.sectionWithCards_content>div:last-child h3{
    margin-top: 47px;
 }

.sectionWithCards_card h3{
    font-family: 'Roboto';
    font-size: 31px;
    font-weight: 400;
    line-height: 36.8px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: rgba(0, 0, 0, 1);
}
.sectionWithCards_card p{
    margin-top: 34.08px;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    text-decoration-skip-ink: none;
    overflow-wrap: break-word;
    width: 290px ;

}
.sectionWithCards_card button{
    width: 360px;
    height: 52px ;
    background-color:rgba(210, 29, 5, 1) ;
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 15px;
    margin-top: 36px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    text-decoration-skip-ink: none;
    color:rgba(255, 255, 255, 1) ;
}

/* Section with General Manager */

.sectionWithGeneralManager{
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #D81E05 0%, #490900 100%);
}

/* Section with general manager info */
.sectionWithGeneralManager_Info{
    width: 100%;
    height: 845px;
    padding: 72px 59px 27px ; 
    position: relative;
}
.info_img img{
    position: absolute;
    z-index: 1;
    width: 464px; 
    height: 464px;

}
.info_content{
    position: absolute;
    z-index: 0;
    right: 59px ;
    top: 162px;
    padding: 101px 27px 63px 92px;
    width: 680px;
    height: 657px;
    background-image: url('../assets/backgroundGeneralManager.svg') ;
}

.info_content p{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
    overflow-wrap: break-word;


}
/* Section with General Manager Profit */
.sectionWithGeneralManager_Profit{
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
}
.sectionWithGeneralManager_Profit h1{
    font-family: 'Roboto';
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);

}
.sectionWithGeneralManager_Profit .profit_content{
    display: flex;
    justify-content: center;
    padding: 40px 25px 40px;
}

.profit_content button h3{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);

}

.profit_content button h1{
    font-family: 'Montserrat';
    font-size: 44px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);

}
.sectionWithGeneralManager_Profit .profit_calculate{
    width:690px ;
    height: 400px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 40px 127px 0px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 40px 0;

}
.sectionWithGeneralManager_Profit .profit_calculate input{
    background-color: red;
}
.sectionWithGeneralManager_Profit .profit_calculate button{
    width: 496px;
    height: 72px;
    background: linear-gradient(90deg, #C91C04 0%, #D81E05 33.33%, #4B0900 66.67%, #4B0900 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px ;
    border: none;
    flex-direction: row;
    gap: 15px;
    margin-top: 50px;
}
.profit_calculate_btn{
    width: 100%;
    display: flex;
    justify-content: center;

}
.sectionWithGeneralManager_Profit .profit_stats{
    padding: 88px 0 88px 167px;
}
.sectionWithGeneralManager_Profit .profit_stats h3{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: #fff;
    margin-bottom: 16px;
}
.profit_stats h1{
    margin-bottom: 40px;
}
.sectionWithGeneralManager_Profit .profit_stats h1{
    font-family: 'Montserrat';
    font-size: 42px;
    font-weight: 500;
    line-height: 56px;
    text-align: left;
    text-decoration-skip-ink: none;

}
.irs--round .irs-bar {
    background: #D81E05 !important; 
}

.irs--round .irs-handle {

    border:4px solid  #D81E05 !important;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 255, 0.3);

}

.irs--round .irs-single {
    background: #D81E05 !important;
}
.irs--round .irs-single:before{
    content: "";
    border-top-color:#D81E05 !important;
}

/* Section with Slider */

.sectionSlider{
    width: 100vw;
    padding-top:108px ;
    padding-bottom: 135px ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-image: url("../assets/backgroundSectionSlider.svg");
}
.swiper {
    width: 751px;
    height: 362px;
  }
  .sectionSlider{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-wrapper .card{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 30px ; 
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);

}
.card_content_userInfo{
    display: flex;
    flex-direction: row;
    gap: 37px;
    padding: 0 29px;

}
.userInfo{
    padding-top: 22px ;
}
.userInfo h3{
    margin-bottom: 7px ;
    font-family: 'Roboto';
    font-size: 23.3px;
    font-weight: 500;
    line-height: 35px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: rgba(0, 6, 43, 1);

}
.userInfo p{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: rgba(0, 6, 43, 1);
}
.card_content_userInfo .profile_img{
    width: 132px;
    height: 132px;
}
.card_content_quote{
    width: 100%;
    margin-top: 30px;
    padding: 30px;
    position: relative;
    border-top: 1px solid rgba(235, 235, 235, 1)
}
.card_content_quote p{
    font-family: 'Roboto';
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: rgba(0, 6, 43, 1);
}
.rhombus{
    width: 15px ;
    height: 15px;
    background: #fff;
    position: absolute;
    top: -9px;
    left: 80px;

    
    border-top: 1px solid rgba(235, 235, 235, 1);
    border-right: 1px solid rgba(235, 235, 235, 1);
    transform: rotate(-45deg);
    
}

/* Section with Shareholders */
.sectionShareholders{
    width: 100vw;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 72px ;
}
.sectionShareholders ul{
    width: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 38px ;
    flex-wrap: wrap;
    margin-top: 60px;

}
.sectionShareholders h1{
    font-family: 'Ubuntu';
    font-size: 30px;
    font-weight: 400;
    line-height: 41.25px;
    text-align: center;
    text-decoration-skip-ink: none;

}

/* Footer */

footer{
    width: 100vw;
    height: 170px ;
    padding: 36px 42px 68px 90px ;
    border-top: 1px solid rgba(204, 66, 56, 1);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 171px ;
}
footer ul{
    
    display: flex;
    justify-content: end;
    flex-wrap: wrap ;
    flex-direction: row;
    gap: 13px;
    list-style: none;
    margin-top: 11px;

}

footer ul li{
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    text-decoration-skip-ink: none;

}







