@import url("styles.css");
@import url("registerForm.style.css");
@import url("sectionWithCards.style.css");
@import url("sectionWithForm.style.css");
@import url("sectionWithGeneralManager.style.css");
@import url("sectionWithGeneralManagerProfit.style.css");
@import url("sectionWithGoal.style.css");
@import url("sectionWithShareholders.style.css");
@import url("sectionWithSlider.style.css");
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* Header */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    min-width: 100%;
    height: 126px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 27px 76px;
}

header .burger {
    display: none;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 28px;
}

nav ul li {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* Main */
main {
    width: 100%;
    height: 100%;
}

.burger {
    display: none;
}

.close {
    display: none;
}


footer {
    width: 100%;
    height: 170px;
    padding: 36px 42px 68px 90px;
    border-top: 1px solid rgba(204, 66, 56, 1);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 171px;
}

footer ul {

    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 13px;
    list-style: none;
    margin-top: 11px;

}

footer ul li {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    text-decoration-skip-ink: none;

}

@media (max-width: 769px) {
    header .burger {
        display: block;
    }

    header {
        min-width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 17px 28px;
        position: fixed;
        z-index: 999;
    }

    header .burger {
        display: block;
    }

    nav {
        display: none;

    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        position: absolute;
        z-index: 999;
        top: 0px;
        left: 0;
        width: 100%;
        height: calc(100vh - 100px);
        background: white;
        flex-direction: column;
        padding: 20px;
        display: none;

    }

    .menu_open {
        display: flex;

    }

    nav ul li {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        color: #000000;
        list-style: none;
        text-decoration: none;

    }

    main {
        padding-top: 100px;
    }
}

@media (max-width: 430px) {
    header {
        min-width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 17px 28px;
        position: fixed;
        z-index: 999;
    }

    main {
        padding-top: 80px;
    }

    header .burger {
        display: block;
    }

    nav {
        display: none;

    }

    nav ul {
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }

    nav {
        position: absolute;
        z-index: 3;
        top: 100px;
        left: 0;
        width: 100%;
        height: calc(100vh - 100px);
        background: white;
        flex-direction: column;
        padding: 20px;
        display: none;

    }

    .menu_open {
        display: flex;

    }

    nav ul li {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        color: #000000;
        list-style: none;
        text-decoration: none;

    }

    footer {
        width: 100%;
        height: 100%;
        padding: 0;
        border-top: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 41px;
        padding-bottom: 43px;
    }

    footer ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 14px;
        flex-wrap: nowrap;
        list-style: none;
        margin-top: 11px;
    }

    footer ul li {
        font-family: 'Roboto';
        font-size: 15px;
        font-weight: 400;
        line-height: 14.06px;
        text-align: left;
        text-decoration-skip-ink: none;

    }

    footer .logo img {
        width: 131px;
    }




}